/* Generel styling */
:root {
  --blue: #1d2f54;
  --uisand: #f8f8f6;
  --lightgrey: #E4E2E0;
}

* {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  box-sizing: border-box;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
}


/* Menu */

nav {
  background-color: #fff;
}

.sidenav {
  width: 300px;
  background-color: #FBFBFB;
}

.sidenav a, .sidenav>li>a {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  margin-left: 50px;
}

.sidenav-trigger {
  color: #000;
  font-size: 35px;
}

.material-icons {
  font-size: 40px;
  line-height: 120px;
}

nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i {
  height: 50px;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
  font-size: 35px;
  border-radius: 50px;
}

nav .sidenav-trigger i {
  line-height: 50px;
}

nav .brand-logo {
  left: 20%;
}

nav .brand-logo {
  position: absolute;
  color: #fff;
  display: inline-block;
  padding: 3px;
}

nav .brand-logo img {
  height: 35px;
}

/* input form stryling */
form {
  margin: auto;
}

form button {
  font-weight: 200;
  text-align: center;
  cursor: pointer;
  border: none;
  padding: 12px 15px;
  font-size: 1em;
  border-radius: 0;
  color: #ffffff !important;
  background-color: rgb(38, 76, 89);
  width: 100%;
  max-width: 350px;
}

input {
  -webkit-appearance: none;
  margin: 1em auto;
  width: 100%;
  max-width: 350px;
  padding: 15px 15px;
  box-sizing: border-box;
  display: flex;
  background: #fff;
  border: 0;
  z-index: 900;
}
input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea {
  border: 0.5px solid #d8d8d8;
  width: 43%;
  height: 30px;
  padding: 3px;
  margin: 6px 0 5px 0;
  border-radius: 3px;
  left: 30%;
  position: absolute;
}

input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
  border: 0.5px solid #1d2f54 !important;
  box-shadow: none;
}

input placeholder{
  padding-left: 8px;
}

.box-search{
  border: 0.5px solid #d8d8d8!important;
  height: 37px;
  width: 37px;
  display: block;
}

.sogeikon{
  height: 37px;
  padding: 10px;
  position: absolute;
  right: 128px;
  top: 12%;
  border-radius: 0 3px 3px 0;
  border: 0.5px solid #d8d8d8;
}

.fav-basket {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   height: 50px;
}

.fav-basket a{
  height: 50px;
  display: flex;
  align-items: center;
}

.wish{
  height: 25px;
  margin-right: 27px;
}

.basket{
  height: 37px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.menu-icon{
  width: 38px;
  padding-bottom: 2px;
}

.sidenav a, .sidenav>li>a{
  margin: 0px;
}

.sidenav li>a{
  padding:0 8px;
  color: var(--blue);
  font-weight: 400;
  width: 85%;
  margin-left: 5%;
}

.submenu-head{
  font-weight: 800 !important;
  width: 100%;
  position: relative;
  text-transform: uppercase;
  margin-top: 4px !important;
  margin-bottom: 0px !important;
}



.submenu1{
  width: 100%;
  position: relative;
  border-bottom: 1px solid var(--lightgrey);
}

.sidenav li>a>img{
  width: 10px;
  position: absolute;
  right: 10%;
  top: 27%;
}


/* Forside */

.main-wrapper{
  margin: 0 8px;
}
